{% extends "base.html.twig" %}
{% block title %} Order {% endblock %}

{% block body %}
    <h1>Order</h1>
    <p>status: {{order.status}}</p>
    <p>amount: {{order.amount}}</p>
    <p>toPay: {{order.topay}}</p>
    <p>itemsNumber: {{order.itemsnumber}}</p>

    <br/>

    <h1>Order Details</h1>

    {#order.idproduct#}
    {% for product in order.idproduct %}
        <p>name: {{product.name}}</p>
        <p>section: {{product.idsection.name}}</p>
    {% endfor %}
{% endblock %}