{% extends "base.html.twig" %}
{% block title %} Order {% endblock %}

{% block body %}
    <h1>Order</h1>
    <p>status: {{order.status}}</p>
    <p>amount: {{order.amount}}</p>
    <p>toPay: {{order.topay}}</p>
    <p>itemsNumber: {{order.itemsnumber}}</p>

    <br/>

    <h1>Order Details</h1>

    {% for detail in orderdetail %}
        <h3> Product {{loop.index}}</h3>
        <p> product name: {{detail.idproduct.name}}</p>
        <p> store in: {{detail.idproduct.idsection.name}}</p>
        <p> quantity: {{detail.quantity}} </p>
        {#<a href="{{ path ('desactiver-user', {'id' : user.id})}}"  href="#">Bloquer</a>#}
        {#<a href="{{ path ('editDetail', {'id': detail.id })}}" class="btn btn-danger text-dark">Edit</a>#}
    {% endfor %}

{% endblock %}